---
import { getImage, Image } from "astro:assets";

import CloudinaryImage from "@components/CloudinaryImage.astro";

import Layout from "../layouts/Layout.astro";
import heroImg from "@assets/images/heroBG.jpeg";

import massageImg from "@assets/images/massage.webp";
import facialImg from "@assets/images/facial.jpeg";
import oilImg from "@assets/images/oil.jpeg";

import servicesBGImg from "@assets/images/servicesBG.jpeg";

import loliImg from "@assets/images/loli.jpeg";
import ratnaImg from "@assets/images/ratna.jpeg";
import madeImg from "@assets/images/made.jpeg";
import sriImg from "@assets/images/sri.jpeg";
import juniImg from "@assets/images/juni.jpeg";

import heroVid from "@assets/videos/massage.mp4";

import location1 from "@assets/images/location1.png";
import location2 from "@assets/images/location2.png";

import config from "@data/config.json";

import { Icon } from "astro-icon/components";

const staff = [
  {
    name: "Loli",
    image: loliImg,
    description:
      'Loli brings over 25 years of massage therapy expertise to Victorian Bali Spa, having trained in Bali and refined her skills in prestigious hotel spas. \n\nNow in New Zealand, she opened Victorian Bali Spa in February 2023, specializing in traditional Balinese massage to alleviate tension and promote relaxation. Loli is passionate about her craft, saying, "Seeing people leave with a smile is magic for me."',
  },
  {
    name: "Made",
    image: madeImg,
    description:
      "Imade, commonly known as Made, has over a decade of experience in the spa industry, highlighted by roles at prestigious establishments like La Karma Padma and Herbal Spa in Kuwait. Specialising in Balinese and Thai massage, deep tissue manipulation, and reflexology, Made combines expert therapeutic techniques with a deep understanding of physical wellness. Fluent in both Indonesian and English, his strong interpersonal skills ensure a harmonious therapeutic environment, making him a trusted practitioner in his field.",
  },
  {
    name: "Ratna",
    image: ratnaImg,
    description:
      "Ratna brings over 15 years of experience in the spa industry, having honed her skills with renowned brands such as the Oberoi Group of Hotels & Resorts and Alila Goa. She is well-versed in a variety of therapeutic techniques, with a deep understanding of body balance and its impact on overall health and wellness. Ratna is an all-rounder who specialises in both beauty treatments and massage therapy. Her expertise has been recognized continuously over the past few years, earning her the title of Best Therapist in the Auckland region.",
  },
  {
    name: "Sri",
    image: sriImg,
    description:
      "Sri is a seasoned spa professional with over a decade of experience, perfecting her craft at prestigious hotels around the world, including the St. Regis in Dubai. Her deep passion for wellness and rejuvenation fuels her dedication to delivering exceptional spa experiences. Specializing in Deep Tissue Massage, Sri ensures every client leaves feeling relaxed, refreshed, and revitalized.",
  },
  {
    name: "Juni",
    image: juniImg,
    description:
      "Juni is a dedicated massage therapist with more than 15 years of experience in the field. She has enriched her expertise through positions at the St. Regis Hotel Abu Dhabi and The Abu Dhabi EDITION Hotel. Certified by MANDARA SPA BALI and BABTAC UAE, Juni specializes in customizing massage techniques. She adeptly adjusts techniques, pressure, and focus areas to meet individual client requirements, ensuring each session effectively addresses specific concerns like muscle tension, pain relief, stress reduction, or relaxation.",
  },
];
---

<Layout title={config.businessName}>
  <section
    class="h-[calc(100dvh)] max-md:h-screen w-full overflow-hidden relative"
  >
    <div
      class="absolute z-10 bottom-4 max-md:bottom-[5%] max-md:translate-y-0 left-1/2 translate-x-[25%] max-md:-translate-x-1/2 max-md:left-1/2 max-md:h-32 aspect-video h-52 group"
    >
      <Icon
        name="mdi:play"
        class="text-4xl text-white rounded-full border-2 absolute bottom-2 left-2 max-md:hidden transition group-hover:border-primary group-hover:bg-primary"
      />
      <video
        id="heroVideo"
        autoplay
        playsinline={true}
        loop
        muted
        class="z-10 rounded-2xl w-full h-full object-cover object-center hover:cursor-pointer"
      >
        <source src={heroVid} type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>

    <div
      class="absolute top-1/2 left-1/2 flex flex-col justify-center gap-16 -translate-x-1/2 -translate-y-1/2 z-10 w-full max-w-2xl mx-auto px-4 items-center"
    >
      <h1 class="text-white text-8xl text-center">
        Unwind with ease at our spa. Pure bliss awaits.
        <!-- For your mum, the one and only. Happy Mother's Day! -->
      </h1>
      <div class="flex flex-col gap-4 items-center font-sans md:hidden">
        <a href={config.bookingLink} target="_blank" class="btn w-fit">
          Book Now
        </a>
        <a
          href={config.giftLink}
          target="_blank"
          class="btn w-fit btn-secondary"
        >
          Buy a Gift Voucher
        </a>
      </div>
    </div>

    <Image
      src={heroImg}
      id="heroBG"
      loading={"eager"}
      alt="hero bg"
      class="max-w-none absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[calc(300dvh)] max-md:w-[900px] blur-sm h-full object-cover scale-125"
    />
  </section>
  <section
    class="p-20 max-md:px-4 flex flex-col gap-16 max-md:gap-8 max-w-screen-xl mx-auto"
  >
    <h1 class="text-4xl max-md:text-center max-w-4xl">
      Welcome to Victorian Bali Spa - a hidden gem located in the heart of
      Auckland's CBD and Ponsonby.
    </h1>
    <div
      class="grid grid-cols-2 w-full place-items-end gap-16 max-md:grid-cols-1 max-md:gap-8"
    >
      <div class="flex flex-col items-center gap-4">
        <Image src={location1} alt="location 1" class="w-full rounded-2xl" />
        <h1 class="italic text-lg">Victoria Park branch</h1>
      </div>
      <div class="flex flex-col items-center gap-4">
        <Image src={location2} alt="location 2" class="w-full rounded-2xl" />
        <h1 class="italic text-lg">Ponsonby branch</h1>
      </div>
    </div>

    <h1 class="text-2xl max-md:text-xl text-center mx-auto" id="introText">
      Whether you're seeking a deep, therapeutic massage
      <Image
        src={massageImg}
        class="introImg w-32 max-md:w-16 aspect-video object-cover rounded-full inline-block mx-4"
        alt="massage"
      />
      a luxurious facial
      <Image
        src={facialImg}
        class="introImg w-32 max-md:w-16 aspect-video object-cover rounded-full inline-block mx-4"
        alt="massage"
      />
      or a traditional Balinese oil massage for two,
      <Image
        src={oilImg}
        class="introImg w-32 max-md:w-16 aspect-video object-cover rounded-full inline-block mx-4"
        alt="massage"
      />
      we can help. At Victorian Bali Spa, we're committed to making your visit unforgettable
      with our exclusive services.
    </h1>
  </section>
  <section
    class="max-w-screen-xl mx-auto p-16 px-4 flex flex-col items-center gap-16"
  >
    <h1 class="text-9xl">Say Hi To Our Staff</h1>
    {
      staff.map((staff) => (
        <div class="grid grid-cols-2 max-md:grid-cols-1 place-items-end gap-16 items-start mx-auto bg-primary py-8 rounded-3xl w-fit px-16 max-md:p-8 max-md:gap-8">
          <Image
            src={staff.image}
            alt="loli"
            class="w-96 aspect-square object-cover rounded-3xl"
          />
          <div class="flex flex-col gap-8 max-md:gap-4 place-self-start items-center">
            <h1 class="text-6xl">{staff.name}</h1>
            <p class="max-w-sm">{staff.description}</p>
          </div>
        </div>
      ))
    }
  </section>
  <section
    id="services"
    class="flex max-md:gap-16 flex-col items-center py-16 max-md:py-8 w-full relative h-[1000px] overflow-hidden max-md:h-auto"
  >
    <Image
      src={servicesBGImg}
      alt="services bg image"
      class="absolute top-0 left-0 w-full h-full object-cover -z-10 blur-[8px] scale-110"
    />
    <div class="w-full h-full absolute top-0 left-0 bg-black opacity-20 -z-10">
    </div>
    <h1 class="text-white text-9xl mt-20 text-center w-full">Our Services</h1>
    <svg
      viewBox="0 0 200 100"
      class="absolute max-md:hidden top-20 left-1/2 z-20 -translate-x-1/2 h-full max-w-none w-[200%] max-md:w-[400%]"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        id="path"
        d="M 10 75 Q 100 10 190 75"
        fill="transparent"
        stroke="#f5f5f5"
        stroke-width="0.2"></path>
    </svg>
    <div
      class="max-md:grid grid-cols-2 w-full max-md:gap-4 max-md:px-4 md:absolute z-20"
    >
      {
        config.services.slice(0, 6).map((service) => (
          <div class="w-60 service font-sans relative group text-center max-md:w-full">
            <a
              class="flex flex-col md:group-hover:scale-125 transition bg-primary h-full rounded-2xl gap-4 p-4 cursor-pointer"
              href={`/services/${service.name.replaceAll(" ", "")}`}
            >
              <CloudinaryImage
                publicId={service.publicId}
                className="w-full aspect-square rounded-2xl object-cover"
              />
              <hr />
              <div class="flex flex-col gap-2">
                <h1 class="text-xs font-bold">{service.name}</h1>
                <p class="text-xs">{service.pricing}</p>
              </div>
            </a>
          </div>
        ))
      }
    </div>
    <a
      href="/services"
      class="text-2xl link mt-auto z-20 link-primary transition"
    >
      View all our services
    </a>
  </section>

  <section class="max-w-screen-lg mx-auto py-16 flex flex-col gap-16 px-4">
    <div class="text-6xl inline-block">
      <h1 class="inline">Here's what our customers have said</h1>
      <Icon name="meteocons:star-fill" class="inline" />
    </div>
    <div
      class="grid grid-cols-3 grid-rows-1 place-items-center gap-8 max-md:grid-cols-1"
    >
      {
        config.reviews.map((review) => (
          <div class="flex flex-col gap-8 h-full items-center justify-between font-sans bg-primary rounded-2xl py-8 px-4">
            <p class="text-center italic font-extralight">"{review.review}"</p>
            <h1 class="text-xl font-serif">-{review.name}</h1>
          </div>
        ))
      }
    </div>
  </section>
</Layout>

<script>
  import { gsap } from "gsap";
  import { MotionPathPlugin } from "gsap/MotionPathPlugin";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  import Lenis from "@studio-freight/lenis";

  gsap.registerPlugin(MotionPathPlugin);
  gsap.registerPlugin(ScrollTrigger);

  const lenis = new Lenis();

  lenis.on("scroll", (e: any) => {});

  lenis.on("scroll", ScrollTrigger.update);

  gsap.ticker.add((time) => {
    lenis.raf(time * 1000);
  });

  gsap.ticker.lagSmoothing(0);

  const heroTimeline = gsap.timeline();
  heroTimeline.from("#heroBG", {
    height: 0,
    opacity: 0,
    duration: 1,
    ease: "power1.inOut",
  });

  const introTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: "#introText",
      start: "top center",
      end: "bottom center",
    },
  });

  introTimeline.from(".introImg", {
    y: 100,
    opacity: 0,
    stagger: 0.1,
  });

  let mm = gsap.matchMedia();
  mm.add("(min-width: 768px)", () => {
    gsap.to(".service", {
      scrollTrigger: {
        trigger: "#services",
        start: "center center",
        end: "bottom center",
        pin: true,
        scrub: true,
      },
      motionPath: {
        path: "#path",
        align: "#path",
        autoRotate: true,
        alignOrigin: [0.5, 0.5],
      },
      stagger: 0.3,
      duration: 2,
    });
  });

  const heroVideo = document.getElementById("heroVideo") as HTMLVideoElement;
  if (heroVideo) {
    heroVideo.addEventListener("click", () => {
      if (!document.fullscreenElement) {
        heroVideo.requestFullscreen();
      }
    });
  }

  document.addEventListener("fullscreenchange", () => {
    if (!document.fullscreenElement) {
      heroVideo?.classList.add("hover:cursor-pointer");
    } else {
      heroVideo?.classList.remove("hover:cursor-pointer");
    }
  });
</script>
